.logo-row {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 2% 20px;
    width: 100%;
    flex-wrap: wrap;
}
.repo-row {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
}
.repo-elem {
    width: 300px;
}
img {
    max-width: 100%;
}